<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="utf-8">
		<meta name = "viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">



		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="main.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
		<title>Bradley can become a doctor</title>
	</head>
	<body class="text-center">
	    <header>
	      <div class="collapse bg-dark" id="navbarHeader">
	        <div class="container">
	          <div class="row">
	            <div class="col-sm-8 col-md-7 py-4">
	              <h4 class="text-white">About</h4>
	              <p class="text-muted py-4">Bradley says he wants to go to med school.
	              	But he's in danger of missing out - he just loves <a href="https://na.leagueoflegends.com/en/">League of Legends</a> too much. We're just trying to help him by reminding him that he should study for the MCAT instead of playing the game like a friccing degenerate.</p>
	            </div>
	            <div class="col-sm-4 offset-md-1 py-4">
	            	<h4 class="text-white">Bradley's Journey</h4>
					<p class="text-muted py-4">
						Click <a href="">here</a> to see Bradley's progress in the game so that we can make fun of him.
					</p>
				</div>
	          </div>
	        </div>
	      </div>

	      <div class="navbar navbar-dark bg-dark box-shadow">
	        <div class="container d-flex justify-content-between">
	          <a href="#" class="navbar-brand d-flex align-items-center">
	            <strong>Bradley</strong>
	          </a>
	          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	          </button>
	        </div>
	      </div>
	    </header>